.search {
    width: 426px;
    display: block;
    border-radius: 3px;
    margin-bottom: 30px;
}

.title {
    font-size: 22px;
    line-height: 1.17;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 4px;
}

.input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border: 4px solid #0c0c0d66;
    box-sizing: border-box;
    border-radius: 3px;
}