form {
    width: 400px;
    border: 4px solid #0c0c0d66;
    display: block;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.group {
    margin-bottom: 20px;
}

.label {
    font-size: 22px;
    line-height: 1.17;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #000000;
    display: block;
    margin-bottom: 4px;
}

.field {
    font-size: 20px;
    font-weight: 500;
    border: 3px solid #2e2f4266;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    box-sizing: border-box;


}

.field:hover {
    border-color: #2a3bf3;
}


.addContact {
    font-weight: 500;
    font-size: 16px;
    background-color: #646fe6;
    color: #ffffff;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 129px;
    height: 36px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.addContact:hover {
    background-color: #091be3;
}